@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 100px;
}
.disabledCard {
  pointer-events: none;
  opacity: 0.6;
}

.closedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.input {
  width: 70%;
  max-width: 500px;
  margin: 0 auto 20px auto;
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid #00aaff;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border-color: #0077cc;
  box-shadow: 0 4px 10px rgba(0, 119, 204, 0.2);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Адаптивность для телефонов */
@media (max-width: 768px) {
  .input {
    width: 90%;
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  .gridContainer {
    grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
  }
}

@media (max-width: 480px) {


}
