
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный черный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: slideIn 0.3s forwards; /* Анимация входа */

}
@keyframes slideIn {
  from {
    transform: translateY(100%); /* Начальное положение внизу экрана */
  }
  to {
    transform: translateY(0); /* Конечное положение */
  }
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 95%; 
  overflow: auto; 

}

.quantityControl {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.quantityControl button {
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.quantityControl span {
  font-size: 18px;
  margin: 0 10px;

}

.hidden {
  display: none;
  animation: slideOut 0.5s forwards; /* Анимация выхода */

}
@keyframes slideOut {
  from {
    transform: translateY(0); /* Начальное положение */
  }
  to {
    transform: translateY(100%); /* Конечное положение внизу экрана */
  }
}
.itemContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.foodImage {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 8px;
}

.itemInfo {
  flex: 1;
}

.foodName {
  font-weight: bold;
}


.checkoutButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
