.categoryListContainer {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 10px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.categoryList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  padding: 0 15px;
  scrollbar-width: none; /* Убираем стандартный скроллбар */
}

.categoryList::-webkit-scrollbar {
  display: none; /* Убираем скроллбар в Chrome/Safari */
}

.categoryItem {
  flex-shrink: 0;
  padding: 8px 15px;
  border: none;
  background: #868383;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.categoryItem.active {
  background: #f56;
  color: white;
  font-weight: bold;
  transform: scale(1.1);
}

/* Анимация изменения активной категории */
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.categoryItem.active {
  animation: fadeIn 0.3s ease-in-out;
}

.foodCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.categoryTitle {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.fixedButtonContainer {
  position: fixed;
  bottom: 80px;
  left: 80%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 100%;
  z-index: 9;
}

.fixedButton {
  width: 100%;
  padding: 10px 20px;
  background: #f56;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* Адаптивность для телефонов */
@media (max-width: 768px) {
  .foodCardContainer {
    grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
  }

  .fixedButtonContainer {
    width: 95%; /* Чуть шире для телефонов */
  }

  .fixedButton {
    font-size: 14px; /* Уменьшение текста для телефонов */
  }
}
